<html>
<head>
    <title>HowToGo</title>
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <div class="container-fluid">
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/welcome/index">HOWTOGO</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/create/create">Create</a></li>
                <li><a href="#">Search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">Pleiades Orbital 2015</p></li>
            </ul>
        </div>
    </nav>

    <h1 class="text-center">Welcome to HOWTOGO!</h1>

    <div class="page-header text-center">
        <h2>Getting Started</h2>
    </div>

    <div id="gettingstarted text-center" class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        <p>It's very simple to get started with HOWTOGO. Click above on the navigation bar or read the FAQ below for more information.</p>
    </div>

    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <div class="col-sm-1 col-md-4">
        <div class="thumbnail text-center">
          <img src="http://arizona4sweets.com/images/icons/wedding-cake-icon.png">
          <div class="caption">
            <h3>Find an event on HOWTOGO</h3>
            <p>Please ask the one who directed you to HOWTOGO for a link to their event page. 
    		When you click on that link, you will get the required information you need.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-1 col-md-4">
        <div class="thumbnail text-center">
          <img src="http://arizona4sweets.com/images/icons/wedding-cake-icon.png">
          <div class="caption">
            <h3>Give directions using HOWTOGO</h3>
            <p>Please click on the "Create" button above and follow the instructions. Alternatively click here:</p>
            <p><a href="/create/create" class="btn btn-primary" role="button">QuikMap</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-1 col-md-4">
        <div class="thumbnail text-center">
          <img src="http://arizona4sweets.com/images/icons/wedding-cake-icon.png">
          <div class="caption">
            <h3>What is HOWTOGO?</h3>
            <p>HOWTOGO is an online tool made to allow event organisers to easily create maps and directions for others to use. 
    		It's easily viewed on mobile devices as well as desktops, and also allows offline downloading of directions.</p>
          </div>
        </div>
      </div>  
    </div>
	
    <form>
        <div class="form-group">
            <label for="example">Test</label>
            <input type="text" class="form-control" id="example" placeholder="Test"/>
        </div>
    </form>
    
    </div>
</body>
</html>