<meta name ="viewport" content="width=device-width, initial-scale=1.0"/>
    
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
<script>function buttoncontroller($scope) {
    $scope.visible1 = false;
    $scope.visible2 = false;
    $scope.visible3 = false;
    $scope.visible4 = false;
    
    $scope.button1 = function() {
        $scope.visible1 = true;
        $scope.visible2 = false;
        $scope.visible3 = false;
        $scope.visible4 = false;
    }
    
    $scope.button2 = function() {
        $scope.visible1 = false;
        $scope.visible2 = true;
        $scope.visible3 = false;
        $scope.visible4 = false;
    }
    
    $scope.button3 = function() {
        $scope.visible1 = false;
        $scope.visible2 = false;
        $scope.visible3 = true;
        $scope.visible4 = false;
    }
    
    $scope.button4 = function() {
        $scope.visible1 = false;
        $scope.visible2 = false;
        $scope.visible3 = false;
        $scope.visible4 = true;
    }
    
    $scope.button5 = function() {
        $scope.visible1 = false;
        $scope.visible2 = false;
        $scope.visible3 = false;
        $scope.visible4 = false;
    }
}</script>

<div class="container-fluid" ng-app>
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/pages/index">HOWTOGO</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/pages/create">Create</a></li>
                <li><a href="/pages/search">Search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">Pleiades Orbital 2015</p></li>
            </ul>
        </div>
    </nav>
    
	<div class="page-header text-center">
		<h1>Create a QuikMap!</h1>
	</div>
    <div class="row">
        <div id="toolbar" class="col-lg-2 col-md-2 col-sm-1 col-xs-1 text-center" ng-controller="buttoncontroller">
            <button type="button" class="btn btn-info btn-lg" title="Select" ng-click="button1()" ng-disabled="visible1">
                <span class="glyphicon glyphicon-hand-up" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button type="button" class="btn btn-info btn-lg" title="Draw Line" ng-click="button2()" ng-disabled="visible2">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button type="button" class="btn btn-info btn-lg" title="Add Landmark" ng-click="button3()" ng-disabled="visible3">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button type="button" class="btn btn-info btn-lg" title="Remove" ng-click="button4()" ng-disabled="visible4">
                <span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button type="button" class="btn btn-info btn-lg" title="Undo" ng-click="button5()">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button type="button" class="btn btn-info btn-lg" title="Redo" ng-click="button5()">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true" style="font-size:36px"></span>
            </button>
            
            <hr/>
            
            <div ng-show="visible1">Select</div>
            <div ng-show="visible2">Draw Line</div>
            <div ng-show="visible3">Add Landmark</div>
            <div ng-show="visible4">Remove</div>
        </div>
        
    	<div id="app" class="col-lg-6 col-md-6 col-sm-11 col-xs-11 ui-widget-header">
            APP
    	</div>

    	<div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
    		<h2>How to create a map!</h2>
    			<ul>
    				<li>Step 1!</li>
    				<li>Step 2!</li>
    				<li>Step 3!</li>
    			</ul>
    	</div>
    </div>
</div>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>