<div class="container-fluid">
	<div class="page-header">
		<h1> Create Map! </h1>
	</div>
	<div class="col-lg-9">
		<p>Map Creating application here</p>
	</div>

	<div class="col-lg-3 col-lg-offset-9 well">
		<h2>How to create a map!</h3>
			<ul>
				<li> Step 1! </li>
				<li> Step 2! </li>
				<li> Step 3! </li>
			</ul>
		<button type ="submit" class="btn btn-success">Done </button>
	</div>
</div>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>