<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<div class="container-fluid">
    
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/pages/index">HOWTOGO</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/pages/create">Create</a></li>
            <li><a href="/pages/search">Search</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text">Pleiades Orbital 2015</p></li>
        </ul>
    </div>
</nav>

<h1 class="text-center">Welcome to HOWTOGO!</h1>

<div class="page-header text-center">
    <h2>Getting Started</h2>
</div>
<div id="gettingstarted text-center" class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
    <p>It's very simple to get started with HOWTOGO. Click above on the navigation bar or read the FAQ below for more information.</p>
    <h4>I was told to find an event on HOWTOGO.</h4>
    <p>Please ask the one who directed you to HOWTOGO for a link to their event page. When you click on that link, you will get the required information you need.</p>
    <h4>I want to use HOWTOGO to tell people how to come to my event.</h4>
    <p>Please click on the "Create" button above and follow the instructions. Alternatively, click <a href="/pages/create">here.</a></p>
    <h4>What is HOWTOGO?</h4>
    <p>HOWTOGO is an online tool made to allow event organisers to easily create maps and directions for others to use. It's easily viewed on mobile devices as well as desktops, and also allows offline downloading of directions.</p>
</div>
	
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://arizona4sweets.com/images/icons/wedding-cake-icon.png">
      <div class="caption">
        <h3>I was told to find an event on HOWTOGO</h3>
        <p>Please ask the one who directed you to HOWTOGO for a link to their event page. When you click on that link, you will get the required information you need.</p>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../assets/images/HowToGoThumb.png">
      <div class="caption">
        <h3>I want to use HOWTOGO to tell people how to come to my event</h3>
        <p>Please click on the "Create" button above and follow the instructions. Alternatively click</p>
		<p><a href="/pages/create" class="btn btn-primary" role="button">Create QuikMap</p>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://images.clipartpanda.com/question-mark-black-and-white-Icon-round-Question_mark.jpg">
      <div class="caption">
        <h3>What is HOWTOGO?</h3>
        <p>HOWTOGO is an online tool made to allow event organisers to easily create maps and directions for others to use. It's easily viewed on mobile devices as well as desktops, and also allows offline downloading of directions.</p>
      </div>
    </div>
  </div>
</div>

</div>

<!-- BOOTSTRAP CODE -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>