
<div class="container-fluid">
	<div class="page-header text-center">
		<h1>Search for Maps Created</h1>
	</div>
	
	<div class="row">
	  <div class="col-lg-6">
		<div class="input-group">
		  <input type="text" class="form-control" placeholder="Search for quickMaps">
		  <span class="input-group-btn glyphicon glyphicon-search">
			<button class="btn btn-default" type="button">Find!</button>
		  </span>
		</div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
	
	<div class="media well well-sm">
	  <div class="media-left media-middle">
		<a href="#">
		  <img class="media-object" src="..." alt="...">
		</a>
	  </div>
	  <div class="media-body">
		<h4 class="media-heading">Map Search Results</h4>
	  </div>
	</div>
</div>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
