<html>
<head>
    <title>HowToGo</title>
</head>
<body>
    <meta name ="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= javascript_include_tag "create" %>

    <div class="container-fluid">
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/welcome/index">HOWTOGO</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/create/create">Create</a></li>
                <li><a href="#">Search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">Pleiades Orbital 2015</p></li>
            </ul>
        </div>
    </nav>
    
	<div class="page-header text-center">
		<h2>Create a QuikMap</h2>
		<div class="input-group">
		 <span class="input-group-addon" id="basic-addon1">QuikMap =></span>
		 <input type="text" class="form-control" placeholder="New Location Name" aria-describedby="basic-addon1">
		</div>
	</div>
    <div class="row">
        <div id="toolbar" class="col-lg-2 col-md-2 col-sm-1 col-xs-1 text-center">
            <button id="createbutton1" type="button" class="btn btn-info btn-lg" title="Select">
                <span class="glyphicon glyphicon-hand-up" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button id="createbutton2" type="button" class="btn btn-info btn-lg" title="Draw Line">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button id="createbutton3" type="button" class="btn btn-info btn-lg" title="Add Landmark">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button id="createbutton4" type="button" class="btn btn-info btn-lg" title="Remove">
                <span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button id="createbutton5" type="button" class="btn btn-info btn-lg" title="Undo">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="font-size:36px"></span>
            </button>
            <button id="createbutton6" type="button" class="btn btn-info btn-lg" title="Redo">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true" style="font-size:36px"></span>
            </button>
        
            <hr/>
        
            <div id="creatediv1">Select</div>
            <div id="creatediv2">Draw Line</div>
            <div id="creatediv3">Add Landmark</div>
            <div id="creatediv4">Remove</div>
        </div>
    
    	<div id="app" class="col-lg-6 col-md-6 col-sm-11 col-xs-11 ui-widget-header">
            APP
    	</div>

    	<div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 col-xs-12">
    		<h2>How to create a map!</h2>
    			<ul>
    				<li>Step 1!</li>
    				<li>Step 2!</li>
    				<li>Step 3!</li>
    			</ul>
    	</div>
    </div>
</div>
</body>
</html>