<html>
<head>
    <title>HowToGo</title>
</head>
<body>
    <meta name ="viewport" content="width=device-width, initial-scale=1.0"/>

  <%= javascript_include_tag "submit" %>
  <div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/welcome/index">HOWTOGO</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/create/create">Create</a></li>
                <li><a href="/search/search">Search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">Pleiades Orbital 2015</p></li>
            </ul>
        </div>
    </nav>

	<div class="page-header text-center">
		<h2>QuikMap Submitted!</h2>
	</div>

    <p class="text-center">
      The link to your QuikMap is:
      <form class="form-inline text-center" >
          <input type="text" class='form-control' id="copyLinkArea" value="<%= @url.short_url %>">
          <button class="btn btn-default" type="button" id="copyLinkButton"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Copy </button>
          <a href="<%= @url.short_url %>" class="btn btn-default" role="button" target='_blank' ><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Open </a>
      </form>
    </p>

</div>

</body>
</html>
