<html>
<head>
    <title>HowToGo</title>
</head>
<body>
    <meta name ="viewport" content="width=device-width, initial-scale=1.0"/>

  <div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/welcome/index">HOWTOGO</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/create/create">Create</a></li>
                <li><a href="/search/search">Search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">Pleiades Orbital 2015</p></li>
            </ul>
        </div>
    </nav>

	<div class="page-header text-center">
		<h2>QuikMap submitted!</h2>
	</div>
    
    <p class="text-center">The id is <%= @mid %></p>

</div>

</body>
</html>
