<html>
<head>
    <title>HowToGo</title>
</head>
<body>
    <meta name ="viewport" content="width=device-width, initial-scale=1.0"/>

  <%= javascript_tag do %>
      var id = <%= @mid %>;
  <% end %>

  <%= javascript_include_tag "submit" %>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#myNavbar" aria-expanded="false" aria-controls="myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/welcome/index">HOWTOGO</a>
          </div>
          <div class="navbar-collapse collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="/create/create">Create</a></li>
              <li><a href="/search/search">Search</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><p class="navbar-text text-center"><strong>Pleiades Orbital 2015</strong></p></li>
            </ul>
         </div>
      </div>
  </nav>

	<div class="page-header text-center">
		<h2>QuikMap Has Been Submitted!</h2>
	</div>

    <section class="text-center">
    <p> Thanks for using HowToGo! You have created the <b><%= @mid %></b> map!</p>
    <p> Please wait while we redirect to your QuikMap view Page</p>
    </section>

</div>

</body>
</html>
